.fast-scroll-btn {
    display: none;
}

@media screen and (min-width: $switch-on-desktop) {
    .fast-scroll-btn {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        bottom: 25px;
        right: 0;
        width: 70px;
        height: auto;

        z-index: 2;
        &__item {
            display: none;
            font-size: 65px;
            &.visible {
                display: flex;
                align-items: center;
                justify-content: center
            }
        }
    } 
}