* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  font-weight: 400;
  font-family: $font-default;
  font-size: 0;
  color: #221F18;
  margin: 0;
  padding: 0;
}

body.locked {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: $transition-default;
  cursor: pointer;
  &:active,
  &:focus,
  &:focus:active {
    outline: none;
  }
}

p {
  line-height: 1.6;
  font-size: $fsz-text-default;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: $weight-bold;
}

h1 {
  font-size: $fsz-h1-mob;
}

h2 {
  font-size: $fsz-h2-mob;
}

h3 {
  font-size: $fsz-h3-mob;
}

h4 {
  font-size: $fsz-h4-mob;
}

h5 {
  font-size: $fsz-h5-mob;
}

h6 {
  font-size: $fsz-h6-mob;
}

@media screen and (min-width: $switch-on-tablet) {
  h1 {
    font-size: $fsz-h1-desk;
  }

  h2 {
    font-size: $fsz-h2-desk;
  }

  h3 {
    font-size: $fsz-h3-desk;
  }

  h4 {
    font-size: $fsz-h4-desk;
  }

  h5 {
    font-size: $fsz-h5-desk;
  }

  h6 {
    font-size: $fsz-h6-desk;
  }
}

.hover-color-default {
  transition: color $transition-default;

  &:hover {
    color: $hover-color-1;
  }

  &:active {
    color: $hover-color-1;
  }
}

//link default
.link-default {
  display: inline-flex;
  align-items: center;
  color: $second-color;
  &:hover {
    color: $hover-color-1;
  }
  &:active,
  &:focus,
  &:focus:active {
    color: $active-color-1;
  }

  .icon {
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &::last-child {
      margin-right: 0;
    }
  }

  &--underlined {
    border-bottom: 1px dashed;
  }
}

// 
.hide {
  display: none !important;
}

// Container 
.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
  &--bg-white {
    background-color: #fff;
  }

}

@media screen and (min-width: $switch-on-tablet) {
  .container {
    &--with-paddings {
      padding: 40px 30px;
    }
  }
}

@media screen and (min-width: 1500px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

// Section-container
.section-container {
  padding-bottom: $section-offet-mob;

  &:last-child {
    padding-bottom: 0;
  }

  &--first {
    padding-top: 30px;
  }

  &--pb-0 {
    padding-bottom: 0;
  }

  &--header {
    border-bottom: 1px solid $border-color-1;
  }
  &--footer {
    position: relative;
    overflow: hidden;
  }

  &--voting-tiles {
    padding-bottom: $section-offet-mob - $voting-tiles-offset;
  }

  &--branded {
    .branding-link  {
      display: none;
    }
  }

  &.animated-container {
    opacity: 0;
    transform: translateY(50px);
    transition: transform $transition-block-animation, opacity $transition-block-animation;
    &.animated {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

@media screen and (min-width: $switch-on-desktop) {
  .section-container {
    border-left: 1px solid $border-color-1;
    border-right: 1px solid $border-color-1;
    padding-left: $fixed-elems-offset;
    padding-right: $fixed-elems-offset;
    padding-bottom: $section-offet-desk;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $border-color-1;
      z-index: 200;
      pointer-events: none;
    }

    &::before {
      left: $fixed-elems-offset;
    }

    &::after {
      right: $fixed-elems-offset;
    }

    &--offset-small {
      padding-bottom: 75px;
    }

    &--no-offset-desk {
      padding: 0;
      margin: 0;
      border: none;
    }
    &--first {
      padding-top: 40px;
    }
    &--voting-tiles {
      padding-bottom: $section-offet-desk - $voting-tiles-offset;
    }

    &--branded {
      .container {
        position: relative;
        z-index: 2;
        padding: 40px 30px;
      }

      .branding-link  {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: calc(100% - 140px);
        height: 100%;
        // background-image: url(../images/branding/branding.jpg);
        background-repeat: no-repeat;
        background-color: #999;
        background-size: cover;
        margin-left: 70px;
        margin-right: 70px;
      }
    }
  }
}