.information {
    p {
        padding-bottom: 15px;
        margin: 0;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

@media screen and (min-width: $switch-on-desktop) {
    .information {
        p {
            padding-bottom: 30px;
        }
    }
}