$sidebar-width: 300px;

.two-cols-container {
    display: flex;
    flex-direction: column;
    &__sidebar {
        margin-bottom: 30px;
        order: 0;
    }
    &__main {
        order: 1;
    }
}

@media screen and (min-width: $switch-on-desktop) {
    .two-cols-container {
        flex-direction: row;
        &__sidebar {
            margin-bottom: 0;
            order: 1;
            width: $sidebar-width;
            flex-shrink: 0;
        }
        &__main {
            order: 0;
            flex-grow: 2;
            padding-right: 50px;
        }
    }
}