/*------Colors---------*/
$main-color: #FFFFFF;
$second-color: #B69859;
$thrid-color: #221F18;
$text-main-color: #221F18;
$text-subcolor: #A9A8A7;
$counters-color: #DFE0DF;
$hover-color-1: #8D7136;
$active-color-1: #655022;
$hover-color-2: #4e4e4e;
$active-color-2: #7a7a7a;
$border-color-1: #ECEDEC; 

/*-------Fonts----------*/
$font-default: 'Open Sans', Arial, Helvetica, sans-serif; 

/*-------Fonts Weights----------*/
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 800;

/*------Font-Sizes---------*/
$fsz-h1-mob: 30px;
$fsz-h2-mob: 28px;
$fsz-h3-mob: 26px;
$fsz-h4-mob: 24px;
$fsz-h5-mob: 20px;
$fsz-h6-mob: 18px;

$fsz-h1-desk: 36px;
$fsz-h2-desk: 30px;
$fsz-h3-desk: 28px;
$fsz-h4-desk: 24px;
$fsz-h5-desk: 20px;
$fsz-h6-desk: 18px;

$fsz-text-default: 16px;
$fsz-subtext: 14px;
$fsz-btn: 20px;

/*------Line heights---------*/
$lineheight-default: 1.4;
$lineheight-text-content: 1.6;

/*-------Offsets------*/
$section-offet-mob: 60px;
$section-offet-desk: 100px;
$title-offet-mob: 20px; 
$title-offet-desk: 24px; 
$suptitle-offet-mob: 5px; 
$suptitle-offet-desk: 5px; 
$fixed-elems-offset: 70px;
$list-item-offset: 25px;
$voting-tiles-offset: 40px;

/*------Sizes--------*/
$switch-on-tablet: 768px;
$switch-on-desktop: 1200px;
$button-height: 50px;

/*------Transitions--------*/
$transition-default: .25s;
$transition-block-animation: 0.4s ease-in;

